Section: misc
Priority: optional
Homepage: https://github.com/hpaluch-pil/pil-git-scripts
Standards-Version: 3.9.2
Readme: README.Debian
Package: pil-git-scripts
#Version: 0.10
Maintainer: Henryk Paluch <henryk.paluch@pickering.cz>
Depends: git
Architecture: all
Copyright: LICENSE
Changelog: ChangeLog.Debian
Files: scripts/git_remote_status.sh /usr/local/bin
 scripts/graph_log.sh /usr/local/bin
 scripts/push_branch.sh /usr/local/bin
Description: PIL scripts handling basic git tasks
 Simple collection of basic scripts to handle common 
 git tasks.

